<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy1400.viid.mapper.ViidFaceMapper">


    <sql id="Base_Column_List">
        FaceID,InfoKind,SourceID,
        DeviceID,LeftTopX,LeftTopY,
        RightBtmX,RightBtmY,LocationMarkTime,
        FaceAppearTime,FaceDisAppearTime,IDType,
        IDNumber,NAME,UsedName,
        Alias,GenderCode,AgeUpLimit,
        AgeLowerLimit,EthicCode,NationalityCode,
        NativeCityCode,ResidenceAdminDivision,ChineseAccentCode,
        JobCategory,AccompanyNumber,SkinColor,
        HairStyle,HairColor,FaceStyle,
        FacialFeature,PhysicalFeature,RespiratorColor,
        CapStyle,CapColor,GlassStyle,
        GlassColor,IsDriver,IsForeigner,
        PassportType,ImmigrantTypeCode,IsSuspectedTerrorist,
        SuspectedTerroristNumber,IsCriminalInvolved,CriminalInvolvedSpecilisationCode,
        BodySpeciallMark,CrimeMethod,CrimeCharacterCode,
        EscapedCriminalNumber,IsDetainees,DetentionHouseCode,
        DetaineesIdentity,DetaineesSpecialIdentity,MemberTypeCode,
        IsVictim,VictimType,InjuredDegree,
        CorpseConditionCode,IsSuspiciousPerson,Attitude,
        Similaritydegree,EyebrowStyle,NoseStyle,
        MustacheStyle,LipStyle,WrinklePouch,
        AcneStain,FreckleBirthmark,ScarDimple,
        OtherFeature,SubImageList
    </sql>
</mapper>
