<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy1400.viid.mapper.ViidApsMapper">


    <sql id="Base_Column_List">
        ApsID,Name,IPAddr,
        IPV6Addr,Port,IsOnline
    </sql>
</mapper>
